.forgot-container,.token-container,.recover-container{
  text-align: left;
   width: fit-content;
   margin: 0 auto;
   
}

.forgot-container h1,.token-container h1,.recover-container h1{
    margin-top: 100px
}





